@import '~antd/dist/antd.css';
$headerHeight: 65px;
$footerHeight: 80px;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// common class style
.btn{
  border: 0 solid #ccc;
  border-radius: 3px;
  height: 25px;
  line-height: 23px;
  margin: 3px 5px 3px 0;
  background-color: #1890ff;
  color: white;
  cursor: pointer;
  padding-bottom: 2px;
}

// app header
.app-header {
  background-color: white;
  padding: 0 20px;
  height: $headerHeight;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .ant-menu {
    padding: 0;
    .ant-menu-item {
      margin:0 20px 0 0;
    }
  }
}

// app content
.app-content {
  background-color: white;
  height: calc(100vh - #{$headerHeight} - #{$footerHeight});
  padding: 30px 20px 0 20px;
  box-sizing: border-box;
}

// Todo List Wrapper
.tasks-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tasks-container {
  width: 500px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  .tasks-header {
    padding: 0;
    margin-bottom: 30px;
    .task-input{
      width: 100%;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 5px;
      height: 30px;
    }
  }
}

// todo list body
.task-list {
  width: 100%;
  padding: 0;
  li:first-child {
    border-top: 1px solid #ccc;
  }
}

.task-item {
  list-style-type:none;
  line-height: 35px;
  height: 35px;
  border: 1px solid #ccc;
  border-top: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .button-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .delete-btn {
      background-color: #ff4d4f;
    }
  }
}

.task-item label span {
  margin-left: 5px;
}

.task-item label {
  padding-left: 5px;
}

//Todo List Foorter
.tasks-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  height: 35px;
  line-height: 35px;

  .task-info {
    margin: 0 0 0 5px;
    display: inline-block;
  }
}

//App footer
.app-footer {
  box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.25);
  height: $footerHeight;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 20px;
  .footer-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
