@import '~antd/dist/antd.css';

$headerHeight: 65px;
$footerHeight: 80px;
$mobileWidth: "(max-width: 600px)";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

//mixins
@mixin border-top-shadow-light() {
  -webkit-box-shadow: 0 -6px 5px -3px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0 -6px 5px -3px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0 -6px 5px -3px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

@mixin border-top-shadow-dark() {
  -webkit-box-shadow: 0 -6px 5px -3px #404040;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0 -6px 5px -3px #404040;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0 -6px 5px -3px #404040;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

@mixin divider-light() {
  width: 100%;
  height: 1px;
  background-color: #eee;
  margin: 10px 0 10px 0;
}

@mixin tag-light() {
  margin-right: 3px;
  margin-bottom: 3px;
  background-color: #404040;
  border-radius: 3px;
  padding: 3px;
}

// common class style
.global-loading {
  height: 100vh;
  div {
    .ant-spin {
      height: 100%;
      max-height: 1000px;
    }
  }
}
.btn{
  border: 0 solid #ccc;
  border-radius: 3px;
  height: 25px;
  line-height: 23px;
  margin: 3px 5px 3px 0;
  background-color: #1890ff;
  color: white;
  cursor: pointer;
  //padding-bottom: 2px;
}

.text-input {
  border: 1px solid #ccc;
  box-sizing: border-box;
  height: 30px;
}


// app header
.app-header {
  background-color: white;
  padding: 0 20px;
  height: $headerHeight;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  .ant-menu {
    padding: 0;
    .ant-menu-item {
      margin:0 20px 0 0;
    }
  }
  .header-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .header-signup {
      margin-right: 20px;
      text-decoration: underline;
      a {
        color: black;
      }
      .link-text-active {
        color: #1890ff;
      }
    }
    .header-logout {
      margin-left: 10px;
      cursor: pointer;
    }
  }
}

// app content
.app-content {
  background-color: white;
  padding: 30px 20px 0 20px;
  box-sizing: border-box;
  min-height: calc(100vh - 65px - 80px);
  margin-top: $headerHeight;
}

// Todo List Wrapper
.tasks-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  //background-color: red;
  height: 100%;
  align-items: flex-start;
}

.tasks-container {
  width: 500px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  .tasks-header {
    padding: 0;
    margin-bottom: 30px;
    .task-input{
      width: 100%;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 5px;
      height: 30px;
    }
  }
}

// todo list body
.task-list {
  width: 100%;
  padding: 0;
  li:first-child {
    border-top: 1px solid #ccc;
  }
}

.task-item {
  list-style-type:none;
  line-height: 35px;
  height: 35px;
  border: 1px solid #ccc;
  border-top: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .button-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .delete-btn {
      background-color: #ff4d4f;
    }
  }
}

.task-item label span {
  margin-left: 5px;
}

.task-item label {
  padding-left: 5px;
}

//Todo List Foorter
.tasks-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
  height: 35px;
  line-height: 35px;
  .tasks-footer-info{
    .task-info {
      margin: 0 0 0 5px;
      display: inline-block;
    }
  }
}

// register page
.register-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .register-container {
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    .general-form {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .input-error {
        font-size: 12px;
        color: red;
      }
      .sign-up-btn {
        display: inline;
        max-width: 100px;
        margin-top: 30px;
      }
    }
  }
}

// makeup page

//makeup general
.makeup-light-text {
  font-size: 12px;
  color: #ccc;
}
h1 {
  text-align: center;
}

h3 {
  margin-bottom: 30px;
}

h5 {
  text-align: center;
  margin-bottom: 30px;
}
//makeup grid image gallery
.image-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  @media #{$mobileWidth} {
    grid-template-columns: unset;
  };
  max-width: 1200px;
  margin: 0 auto;
  .photo {
    img {
      width: 100%;
    }
  }
  .photo-lips {
    grid-area: 1/2/3/2;
  }
}

// makeup nav side bar
.makeup-layout-background {
  background: #fff;
  margin: 0 auto;
  padding: 30px 0;

  .ant-layout-sider-children {
    margin-top: -1px;
  }
  .makeup-nav-icon {
    width: 20px;
    height: 25px;
    margin: 0 10px 0 0;
  }
}

.makeup-broken-nav {
  background-color: red;
  display: inline-block;
  width: 35px;
  .ant-menu-item {
    padding-left: 0 !important;
    .makeup-top-nav-icon {
      width: 30px;
      height: 35px;
      margin: 0 5px 0 0;
    }
  }

}

// makeup list item
.makeup-list {
  .makeup-item {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 206px;
    height: 390px;
    overflow: hidden;
    cursor: pointer;
    .makeup-image-wrapper {
      position: relative;
      max-height: 297px;
      flex-grow: 0;
      .makeup-image {
        width: 100%;
        overflow: hidden;
      }
      .makeup-details {
        width: 206px;
        max-height: 165px;
        background-color: #000000;
        position: absolute;
        bottom: -250px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 6px;
        box-sizing: border-box;
        @include border-top-shadow-dark;
        .makeup-title {
          font-weight: bold;
          color: #fff;
        }
        .makeup-tags {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          flex-wrap: wrap;
          .makeup-tag {
            @include tag-light;
          }
        }
      }
    }
    
    &:hover .makeup-image-wrapper {
      .makeup-details{
        transform: translateY(-250px);
        transition: 0.8s;
      }
    }
    
    .makeup-info {
      position: relative;
      overflow: hidden;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 6px;
      background-color: #fff;
      .makeup-title {
        font-weight: bold;
      }
      .makeup-colors {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        .makeup-color {
          margin: 3px 3px 3px 0;
          width: 12px;
          height: 12px;
          border-radius: 100%;
        }
      }
    }
  }
}

// makeup detail page
.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  .detail-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    .leftWrapper {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      .detail-image {
        width: 306px;
      }
      .product-info {
        //background-color: red;
        padding: 10px;
        min-width: 200px;
        max-width: 400px;
        .makeup-color {
          margin: 0 3px -1px 0;
          width: 12px;
          height: 12px;
          border-radius: 100%;
          display: inline-block;
        }
        .color-name {
          margin-right: 15px;
        }
        h1{
          text-align: left;
        }
        p {
          margin: 0;
        }
        .makeup-tag {
          @include tag-light;
        }
        .divider {
          @include divider-light;
        }
      }
    }
    .rightWrapper {
      //background-color: #7ec1ff;
      min-width: 200px;
    }
  }
  .content {
    margin-top: 30px;
  }
}
//App footer
.app-footer {
  @include border-top-shadow-light;
  height: $footerHeight;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 20px;
  z-index: 998;
  bottom: 0;
  .footer-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
